:where(html) {
  --ease-elastic-in-1: cubic-bezier(.5, -0.25, .75, 1);
}

:root {
  --black: hsl(0, 0%, 13%);
  --dark: hsl(12, 32%, 2%);
  --gray: hsl(0, 0%, 70%);
  --white: hsl(0, 0%, 96%);
  --blue: hsl(241, 81%, 48%);
  --blue-shadow: hsl(241, 81%, 48%);
  --blue-sheen: linear-gradient(
    to bottom,
    hsl(241, 90%, 31%),
    hsla(236, 40%, 70%, 0.5) 50%,
    hsl(241, 90%, 31%)
  );
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.split-line {
  position: relative;
  top: 48px;
  width: 100%;
  height: 5px; /* Adjust the height as needed */
  background: linear-gradient(to right, #043962 50%, #fe5657 50%); /* Adjust colors */
}

.title {
    height: 700px;
}

.title h1 {
  position: relative;
  font-size: 80px;
  text-align: right;
  top: 90px;
  right: 80px;
}

.title h2 {
  position: relative;
  font-size: 65px;
  text-align: right;
  top: 50px;
  right: 80px;
}

header {
  position: relative; /* Position the header for the navbar */
  height: 300px; /* Adjust height as needed */
}

header img {
  position: absolute;   
  transform: translateX(-80px) translateY(215px);
  width: 950px;
}

nav {
    position: fixed; /* Position the navbar absolutely within the header */
    top: 0; /* Align the navbar to the top */
    left: 0; /* Align the navbar to the left */
    width: 100%; /* Make the navbar full width */
    background-color: #0439628f;; /* Semi-transparent white background */
    padding: 15px 0; /* Add padding for spacing */
    z-index: 1; /* Ensure navbar is on top of the header */
    backdrop-filter: blur(10px); /* Apply a 10px blur effect */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    display: inline-block; /* Arrange list items horizontally */
    margin: 0 100px; /* Add spacing between list items */
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    background-color: #E7677E;
    color: white;
    text-decoration: underline;
}

.limit-en-course {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  height: 500px;
}

.limit-en-course img{
  width: 500px;
  transform: translateX(200px) translateY(50px);
}

.blue-button {
  width: 300px;
  height: 90px;
  font-size: 40px;
  transform: translateX(-100px) translateY(-100px);
  background-color: #1f6da1; /* Light blue background */
  color: #fff; /* White text */
  border: none; /* Remove default button border */
  padding: 15px 30px; /* Add padding */
  border-radius: 5px; /* Round the corners */
  font-weight: bold; /* Make text bold */
  box-shadow: 0 2px 20px #1f6da1; /* Add shadow */
  text-shadow: 0 1px 1px #00000033; /* Add text shadow */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: all 0.2s ease; /* Add smooth transition */
  
  /* Outer Border */
  outline: 5px solid #fff;
  outline-offset: -10px; 
}

.blue-button:hover {
  background-color: #1f6da1; /* Darker blue on hover */
  outline-offset: -4px; /* Adjust outer border offset */
}

.teacher-section {
  padding-top: 108px;
  padding-bottom: 85px;
  height: 500px;
}

.hero_section {
  height: 500px;
  display: flex;
  flex-direction: row;
  min-width: 800px;
  max-width: 1900px;
}

.teacher-section h1, h2 {
  margin: 0px;
}

.teacher-section img {    
  display: inline-flex;    
  justify-content: right;       
  width: 600px;
  margin-right: 150px;
}

.teacher-section button {
  width: 160px;
  height: 80px;
  font-size: 26px;
  border-radius: 10px; /* Round the corners */
  transform: translateX(210px);
  background-color: #fe5657;
  overflow: hidden; /* Keep this, but add padding */
  padding-bottom: 32px;
}

.teacher-section button:hover::after {
  animation: sheen var(--ease-elastic-in-1) 1s infinite;
  overflow: hidden;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.sheen::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: var(--blue-sheen);
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.about-section {
  font-size: 18px;
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
  width: 700px;
  height: 500px;
  min-width: 50px;
  max-width: 1900px;
  padding-left: 20px;
  margin-top: 15px;
  text-align: center;
  padding-left: 20px;
  margin-top: -40px;
}

.cursos { 
  margin-top: 45px;  
  background: linear-gradient(to top, #000000, #3533cd);  
  display: flex;  
  flex-direction: column; 
  align-items: center;
  justify-content: center;    
  width: auto;
}

.image-item {    
  display: flex;    
  justify-content: center;    
  align-items: center;    
  border-radius: 20px;    
  overflow: hidden;    
  min-width: 50px;    
  max-width: 1900px;
}

.image-item img {    
  width: 250px;    
  height: auto;
}

.image-grid {    
  display: grid;    
  grid-template-columns: repeat(3, 1fr);    
  grid-template-rows: repeat(2, 1fr); 
  transition: ease-in-out;   
  gap: 20px;    
  margin: 20px;
}

.teacher-img {
  transform: translateX(100px);
}

.eventos {
  height: 500px;
  padding-top: 10px;
  background-color: #dae7f1;
}

.contact-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.contact-container a {
  text-decoration: none;
  color: black;
}

.contact-container a:hover {
  text-decoration: underline;
  color: blue;
}

.background-img {
  position: absolute;
  z-index: -1;
  transform: translateX(-1050px) translateY(-250px);
  background-image: url(/images/background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.contact {
  text-align: center;
}

.container {
  text-align: left;
}

.contact h2 {
  color: #337ab7;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 10px;
}

.contact a {
  color: #337ab7;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* Firefox style */
@media (-moz-device-pixel-ratio: 1) {
  .teacher-section button {
    font-size: 30px;
    padding-bottom: 40px;
    -webkit-transform: translateX(210px);
    -ms-transform: translateX(210px);
    transform: translateX(210px);
  }
  .about-section {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }
}