:root {
  /*animatio  vars*/
  --ease-elastic-in-1: cubic-bezier(.5, -0.25, .75, 1);

  /*color vars*/
  --primary-color: #043962;
  --secondary-color: #fe5657;
  --accent-color: #E7677E;
  --blue-sheen: linear-gradient(
    to bottom,
    hsl(241, 90%, 31%),
    hsla(236, 40%, 70%, 0.5) 50%,
    hsl(241, 90%, 31%)
  ); 
}


body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

.split-line {
  position: relative;
  top: 48px;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, var(--primary-color) 50%, var(--secondary-color) 50%);
}

.split-line:nth-last-child(2) {
  transform: translateY(-48px);
}

.title {
    height: 700px;
}

.title h1 {
  position: relative;
  font-size: 80px;
  text-align: right;
  top: 90px;
  right: 80px;
}

.title h2 {
  position: relative;
  font-size: 65px;
  text-align: right;
  top: 50px;
  right: 80px;
}

header {
  position: relative;
  height: 300px;
}

header img {
  position: absolute;   
  transform: translateX(-80px) translateY(215px);
  width: 950px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0439628f;;
    padding: 15px 0;
    z-index: 1;
    backdrop-filter: blur(10px);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav li {
    display: inline-block;
    margin: 0 100px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    background-color: var(--accent-color);
    color: white;
    text-decoration: underline;
}

.limit-en-course {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  height: 500px;
}

.limit-en-course img{
  width: 500px;
  transform: translateX(200px) translateY(50px);
}

.blue-button {
  width: 300px;
  height: 90px;
  font-size: 40px;
  transform: translateX(-100px) translateY(-100px);
  background-color: #1f6da1;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 20px #1f6da1;
  text-shadow: 0 1px 1px #00000033;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 5px solid #fff;
  outline-offset: -10px; 
}

.blue-button:hover {
  background-color: #1f6da1;
  outline-offset: -4px;
}

.teacher-section {
  padding-top: 108px;
  padding-bottom: 85px;
  height: 500px;
}

.hero_section {
  height: 500px;
  display: flex;
  flex-direction: row;
  min-width: 800px;
  max-width: 1900px;
}

.teacher-section h1, h2 {
  margin: 0px;
}

.teacher-section img {    
  display: inline-flex;    
  justify-content: right;       
  width: 600px;
  margin-right: 150px;
}

.teacher-section button {
  width: 160px;
  height: 80px;
  border-radius: 10px;
  transform: translateX(210px);
  background-color: var(--secondary-color);
  overflow: hidden;
  padding-bottom: 32px;
}

.teacher-section button:hover::after {
  animation: sheen var(--ease-elastic-in-1) 1s infinite;
  overflow: hidden;
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}

.sheen::after {
  content: "";
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: var(--blue-sheen);
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

.about-section {
  display: inline-flex;
  flex-direction: column;
  justify-content: left;
  width: 700px;
  height: 500px;
  min-width: 50px;
  max-width: 1900px;
  padding-left: 20px;
  text-align: center;
  padding-left: 20px;
}

.cursos { 
  margin-top: 45px;  
  background: linear-gradient(to top, #000000, #3533cd);  
  display: flex;  
  flex-direction: column; 
  align-items: center;
  justify-content: center;    
  width: auto;
}

.image-item {    
  display: flex;    
  justify-content: center;    
  align-items: center;    
  border-radius: 20px;    
  overflow: hidden;    
  min-width: 50px;    
  max-width: 1900px;
}

.image-item.a {
  transform: translateX(-181px);
}

.image-item.b {
  transform: translateX(200px);
}

.image-item.c {
  transform: translateX(30px);
}

.image-item.d {
  transform: translateX(230px);
}

.image-item img {    
  width: 250px;    
  height: auto;
}

.image-grid {    
  display: grid;    
  grid-template-columns: repeat(3, 1fr);    
  grid-template-rows: repeat(2, 1fr); 
  transition: ease-in-out;   
  gap: 20px;    
  margin: 20px;
}

.teacher-img {
  transform: translateX(100px);
}

.eventos {
  height: 500px;
  padding-top: 10px;
  background-color: #dae7f1;
}

.eventos video {
  width: 181px;
  transform: scale(1.7) translateX(343px) translateY(45px);
}

.contact-container {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  margin-top: -74px;
}

.contact-container a {
  text-decoration: none;
  color: black;
}

.contact-container a:hover {
  text-decoration: underline;
  color: blue;
}

.background-img {
  position: absolute;
  z-index: -1;
  transform: translateX(-1036px) translateY(-250px);
  background-image: url(/images/background.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.contact {
  text-align: center;
}

.container {
  text-align: left;
}

.contact h2 {
  color: #337ab7;
  margin-bottom: 20px;
}

.contact p {
  margin-bottom: 10px;
}

.contact a {
  color: #337ab7;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

/* Chrome style */
@media (-webkit-device-pixel-ratio: 1) {
  .teacher-section button{
    font-size: 26px;
  }
  .about-section {
    font-size: 18px;
    margin-top: -40px;
  }
}

/* Firefox style */
@media (-moz-device-pixel-ratio: 1) {
  .teacher-section button {
    font-size: 30px;
    padding-bottom: 40px;
    -webkit-transform: translateX(210px);
    -ms-transform: translateX(210px);
    transform: translateX(210px);
  }
  .about-section {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }
}

/* phone styles */
@media (max-width: 883px) {
  header img {
    display: none;
  }
  .title {
    width: 190%;
    height: 194px;
  }

  .title h1 {
    width: max-content;
    font-size: 44px;
    text-align: center;
    top: 17px;
    right: -38px;
  }

  .title h2 {
    width: max-content;
    font-size: 35px;
    text-align: center;
    top: -25px;
    right: -103px;
  }

  .split-line {
    width: 102%;
  }

  .limit-en-course {
    width: 409px;
    font-size: 22px;
    height: 436px;
  }

  .blue-button {
    transform: translateX(5px) translateY(182px);
  }

  .limit-en-course img {
    width: 380px;
    transform: translateX(1px) translateY(-104px);
  }

  .image-grid {
    display: flex;
    flex-direction: column;
    transition: ease-in-out;
    gap: 20px;
    margin: 20px;
  }
  
  .teacher-section img {
    width: 294px;
  }

  .about-section {
    font-size: 27px;
    width: 382px;
  }

  .teacher-img {
    transform: translateX(63px);
  }

  .hero_section {
    height: 1074px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .teacher-section {
    padding-top: 108px;
    padding-bottom: 85px;
    height: 500px;
  }

  .sheen::after {
    background: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
  }

  .teacher-section button {
    font-size: 23px;
    transform: translateX(108px);
  }

  .split-line.sobre {
    top: 1088px;
  }

  .cursos {
    margin-top: 1123px;
    background: linear-gradient(to top, #000000, #3533cd);
    display: flex;
    flex-direction: column;
    width: auto;
  }

  nav li {
    margin: 0 21px 0px -447px;
  }

  .image-item.a {
    transform: translateX(0px);
  }

  .image-item.b {
    transform: translateX(0px);
  }

  .image-item.c {
    transform: translateX(0px);
  }

  .image-item.d {
    transform: translateX(0px);
  }

  .eventos video {
    transform: scale(1.7) translateX(70px) translateY(45px);
  }

  .background-img {
    transform: translateX(-744px) translateY(-301px) scale(0.7);
  }

  .contact-container {
    margin-top: -258px
  }

  .split-line.sobre {
    top: 1123px;
  }
}